<div class="content">

  <div class="buttons">
    <button class="button" (click)="handleClickAddShape($event)">Add Shape</button>
    <button [disabled]="undoHandler == null" 
            class="button" 
            (click)="handleClickUndo($event)">Undo</button>
  </div>

  <div #diagram class="diagram"
       [style.left.px]="diagramX"
       [style.top.px]="diagramY"
       [style.width.px]="diagramWidth"
       [style.height.px]="diagramHeight">

    <ng-container *ngFor="let shape of shapes$ | async; trackBy: shapeTrackBy">

        <div class="shape"

             [style.width.px]="shape.metrics.width"
             [style.height.px]="shape.metrics.height"
             [style.left.px]="shape.metrics.x"
             [style.top.px]="shape.metrics.y"
             [style.background-color]="shape.backgroundColor"
             [style.color]="shape.foregroundColor"
             
             (mousedown)="handleMouseDown(shape, $event)">
             <div class="label">{{shape.label}}</div>
        </div>

    </ng-container>

  </div>

</div>