:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttons {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.button {
    display: flex;
    flex: 0 0 auto;
    width: 75px;
    height: 30px;
    margin: 5px 5px 5px 0;
    justify-content: center;
}

.diagram-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

.diagram {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    background-color: #f3f3f3;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;
}


.content {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.shape {
    background-color: red;
    position: absolute;
    user-select: none;
    border: 1px solid black;
    border-radius: 3px;
    cursor: move;
}

.label {
    padding: 5px;
    pointer-events: none;
    user-select: none;
}

.store-info {
    display: flex;
    flex: 0 0 170px;
    height: 225px;
    flex-direction: column;
    background-color: #EEEEEE;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;
    font-size: 12px;
    margin-left: 5px;
}

.title {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 45px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 32px;
    border-top: 1px solid #999999;
    align-items: center;
}

.row .label {
    display: flex;
    flex: 0 0 80px;
}

.row .value {
    display: flex;
    flex: 1 1 auto;
    font-weight: bold;
    color: blue
}

.row .swatch {
    width: 16px;
    height: 16px;
}
